@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  /* For Firefox */
  scrollbar-width: none;
  /* For IE and Edge */
  -ms-overflow-style: none;
}

/* For Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* For sticky navigation */
.navigation-wrapper {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

@layer components {
  .btn-primary {
    @apply esg-bg-[#0b3954] hover:esg-bg-black esg-text-white esg-py-2 esg-px-4 disabled:esg-opacity-50 disabled:esg-cursor-not-allowed esg-rounded-full;
  }
  .btn-secondary {
    @apply esg-bg-[#ffffff] hover:esg-bg-[#f4f4f4] esg-text-black esg-py-2 esg-px-4 disabled:esg-opacity-50 disabled:esg-cursor-not-allowed esg-rounded-full;
  }
  .btn-nav {
    @apply esg-px-4 esg-py-2 esg-transition-colors esg-duration-200 esg-bg-gray-200 esg-text-gray-800 hover:esg-bg-blue-200 esg-rounded-full;
  }
  .btn-nav-active {
    @apply esg-bg-[#0b3954] esg-text-white esg-rounded-full;
  }
  .btn-icon {
    @apply esg-text-blue-500 hover:esg-text-blue-700;
  }
  .btn-green {
    @apply esg-bg-[#0b3954] hover:esg-bg-black esg-text-white esg-py-2 esg-px-4 esg-rounded-full;
  }
  .btn-red {
    @apply esg-bg-[#ffffff] hover:esg-bg-[#f4f4f4] esg-text-black esg-py-2 esg-px-4 esg-rounded-full;
  }
  .btn-sm {
    @apply esg-px-2 esg-py-1 esg-text-sm;
  }
}

/* Backdrop animation */
.fixed.inset-0.bg-gray-500\/75[data-enter="true"] {
  transition: opacity 300ms ease-out;
}
.fixed.inset-0.bg-gray-500\/75[data-leave="true"] {
  transition: opacity 200ms ease-in;
}
.fixed.inset-0.bg-gray-500\/75[data-closed="true"] {
  opacity: 0;
}

/* Modal content animation (general) */
.relative.transform.overflow-hidden[data-enter="true"] {
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.relative.transform.overflow-hidden[data-leave="true"] {
  transition: transform 200ms ease-in, opacity 200ms ease-in;
}

/* Modal content animation (centered/question-center) */
.relative.transform.overflow-hidden[data-closed="true"] {
  transform: translateY(4px) scale(0.95);
  opacity: 0;
}

/* Modal content animation (right) */
.relative.transform.overflow-hidden.h-full.w-\[400px\][data-closed="true"] {
  transform: translateX(100%);
}

/* Initial states for enter animations */
.relative.transform.overflow-hidden[data-enter="true"]:not([data-closed="true"]) {
  /* Centered/Question */
  transform: translateY(4px) scale(0.95);
  opacity: 0;
}
.relative.transform.overflow-hidden.h-full.w-\[400px\][data-enter="true"]:not([data-closed="true"]) {
  /* Right */
  transform: translateX(100%);
}